@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  ::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem */
    height: 8px; /* Altura da barra de rolagem horizontal */
  }

  /* background of the scrollbar except button or resizer */
  ::-webkit-scrollbar-track {
    background: var(--background); /* Usa a cor do tema ShadCN */
    border-radius: 8px;
  }

  /* scrollbar itself */
  ::-webkit-scrollbar-thumb {
    background: var(--muted-foreground);
    border-radius: 8px;
    border: 2px solid var(--background); /* Suaviza a transição */
  }

  /* Efeito ao passar o mouse sobre a barra */
  ::-webkit-scrollbar-thumb:hover {
    background: var(
      --foreground
    ); /* Um pouco mais escuro para feedback visual */
  }

  /* set button(top and bottom of the scrollbar) */
  ::-webkit-scrollbar-button {
    display: none;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
    --background-light: #ffffff;
    --background-dark: #0c0c0c;
    --foreground-light: #0c0c0c;
    --foreground-dark: #ffffff;
    --primary-color: #00ff00;
    --secondary-color: #a9a9a9;
  }

  body {
    background-color: var(--background-light);
    color: var(--foreground-light);
  }

  .dark body {
    background-color: var(--background-dark);
    color: var(--foreground-dark);
  }
}

input {
  color: var(--foreground-dark);
  border-color: var(--secondary-color);
}

.dark input {
  background-color: var(--background-dark);
  color: var(--foreground-dark);
  border-color: var(--secondary-color);
}

.dark .card {
  background-color: var(--background-dark);
  color: var(--foreground-dark);
}

.card {
  background-color: var(--background-light);
  color: var(--foreground-light);
}
